body {
    background-color: #D71B1B;
}

h1 {
    color: white;
    text-align: center;
}

p {
    text-align: center;
    color: white;
    font-size: 14px;
}

ul {
    font-weight: bold;
}

#assignment11.html {
    background-color: #D71B1B;
}